<nav class="nav">
  <a class="nav-link" th:href="@{/}">Home</a>
  <a class="nav-link" th:href="@{/members}">Members</a>
  <a class="nav-link" th:href="@{/register}">Register</a>
</nav>
<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
 
    <h1 style="
    align-items: center;
    text-align: -webkit-center;
    color: #234534;
           "> Sri Pramodatma Sudha</h1><h2 style="
    align-items: center;
    text-align: -webkit-center;
    color: #234534;
    font-size: medium;
    ">A monthly Magazine from Kalaburagi </h2>
</div>